
<div class="fixed-bottom jumbotron jumbotron-fluid bg-dark mt-4 mb-0 py-0">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h6 class="text-white">&copy Juuso Solonen 2020</h6>
        </div>
        <div class="col-4"></div>
    </div>
    </div>

</body>
</html>