<%- include('./includes/header') -%>

<%- include('./includes/jumbotron', {'sivuteksti' : 'adminsivu'}) -%>


    <div class="container mt-4">
        <div class="row mb-4">
            <div class="col-4"></div>
            <div class="col-4"><h3>Mitä haluaisit tehdä?</h3></div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-6"><a href="/" class="btn btn-dark w-50" style="height:150px"><p class="mt-5">Mene etusivulle</p></a> </div>
            <div class="col-6"><a href="/blogi" class="btn btn-dark w-50" style="height:150px"><p class="mt-5">Blogiin</p></a> </div>
        </div>

    </div>



<%- include('./includes/footer') -%>