<%- include('./includes/header') -%>


<%- include('./includes/jumbotron', {'sivuteksti' : 'etusivu'}) -%>

<%- include('./includes/navbar') -%>


    
    <div class="container">

        <div class="row mt-4 mb-4">
            <span class="col-4"></span>
            <h1 class="col-4">Esittely:</h1>
            <span class="col-4"></span>
        </div>
   
        <div class="row">

            <div class="col-6">
                <div class="card bg-dark text-white w-75">
                    <img src="/img/solonen_juuso.jpg" class="card-img-top" alt="Card image">
                </div>

            </div>

            <div class="col-6">

                <div class="card bg-dark text-white">
                    <div class="card-header">
                     <p>Nimi: Juuso Solonen</p>
                     <p>Status: Tietojenkäsittelyn opiskelija</p>
                     </div>
                     <div class="card-body">
                    <p>Tietoja minusta:</p>
                        <p><span style="color:red">Olen </span>Olen 28-vuotias varastotyöntekija Mikkelistä. Opiskelen tietojenkäsittelyn tradenomiksi Kaakkois-Suomen ammattikorkeakoulussa.</p>
                     </br>
                     <p><span style="color:blue">Harrastan</span> kuntoilua (käyn siis salilla). Muutoin vapaa-aika menee pojan kanssa temutessa tai läppäri sylissä.</p>
                    </br>
                    <p><span style="color:green">Ammatillisessa</span> mielessä minua kiinnostaa eniten back-end kehittäjän tehtävät, mutta olen avoin tekemään myös fronttia.</p>
                     </div>
                     <div class="card-footer">
                    <p>Puh: +358503091483</p>
                    <p>Email: j.solonen@hotmail.com</p>
                    </div>
                </div>
            </div>

        </div>
            
              

                
        

           
            
     

       



</div>

<%- include('./includes/footer') -%>